@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  /* background */
  --c-light: #fcfdff;
  --c-orange: #f2bb21;
  --c-yellow: #fdf2d1;
  --c-blue: #b4d7fd;
  --c-green: #97dbbe;
  --c-light-green: #d4f1e5;

  /* text */
  --txt-c-dark-grey: #2d3436;
  --txt-c-light-grey: #636e72;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.photo-border {
  border-radius: 7%;
  border: none;
}

.container h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
}
.container h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.container h3 {
  margin-top: 200px;
  color: var(--txt-c-light-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.container h4 {
  color: black;
  font-size: 18px;
  line-height: 21px;
}
.container h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.container p {
  width: 360px;
  color: var(--txt-c-light-grey);
  font-size: 14px;
  line-height: 150%;
}
.container hr {
  height: 3px;
  margin: 30px 0;
  width: 98px;
  color: var(--c-green);
}
.company {
  height: 100px;
}
.col-6 {
  display: flex;
}

.company__contacts a {
  display: flex;
  text-decoration: none;
  color: var(--txt-c-light-grey);
}
.company__contacts a:hover {
  text-decoration: none;
  color: var(--txt-c-light-grey);
}
.company__contacts button {
  padding: 15px 25px;
  margin-left: 20px;
}
.company img {
  margin-right: 10px;
}
#tel-btn {
  border: 1px solid var(--c-orange);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.specialty {
  height: 100%;
}

.photo-col {
  width: 473px;
  padding: 0;
}
#photo1 {
  display: flex;
  justify-content: flex-end;
}
#photo1 img {
  margin-left: 10px;
}
#photo2 {
  display: -webkit-box;
}
#photo2 img:last-child {
  margin-left: 10px;
  margin-top: 10px;
}
#photo3 {
  margin-left: -30px;
  display: -webkit-box;
}
#photo3 img {
  margin-right: 10px;
  margin-top: 10px;
}
.col-2 {
  align-self: flex-end;
  height: 530px;
}
.col-2 img {
  margin-bottom: 19px;
}
.network {
  position: relative;
  margin-top: 120px;
  margin-bottom: 100px;
  display: flex;
}
.network__logo {
  margin-right: 20px;
}
.network a {
  display: contents;
  text-decoration: none;
}
.facebook {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -8px;
}
.twiter {
  position: absolute;
  top: 50%;
  left: 72px;
  margin-top: -8px;
}
.youtube {
  position: absolute;
  top: 50%;
  left: 132px;
  margin-top: -8px;
}
.main-btn {
  margin-top: 15px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 22px 59px;
  background-color: var(--c-orange);
  color: var(--c-light);
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
.main-btn:hover {
  color: var(--c-light);
}

.specialty-info p {
  width: 520px;
  align-self: center;
}
.vector {
  display: grid;
  margin-top: 40px;
}
